body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100vh; /* Le header occupe toute la hauteur de la fenêtre */
    background-image: url('../img/Vallée\ avec\ chateau.png'); /* Lien vers ton image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

nav {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3); /* Fond blanc semi-transparent */
    backdrop-filter: blur(10px); /* Effet de flou */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: grey;
}

.txt {
    display: flex;
    align-items: center; /* Aligne verticalement */
    gap: 20px; /* Espacement entre l'image et le texte */
    padding: 20px; /* Ajoute un peu d'espace autour */
    margin-left: 80px;
    margin-top: 200px;
}

.image-cote {
    width: 200px; /* Taille de l'image */
    border-radius: 50%; /* Forme circulaire */
    flex-shrink: 0; /* Empêche l'image de rétrécir */
}

.text-content {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    gap: 10px; /* Espacement entre les éléments */
}

.text-content {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.text-content h1 {
    margin: 0;
    font-size: 2rem; /* Taille du titre */
    color: #333;
}

.text-content p {
    margin: 0;
    color: #000000;
    line-height: 1.5; /* Améliore la lisibilité */
}

.bouton {
    list-style: none;
    display: flex;
    justify-content: center;
    border: #0a014f;
    border-radius: 30px;
    color: rgb(0, 211, 248);
    border: rgb(0, 211, 248);
    margin-bottom: 50px; /* Ajoute un espace entre le bouton et le footer */
}

.bouton a {
    color: #0c0c0c;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.bouton a:hover {
    color: grey;
}

.intheend {
    color: rgb(4, 40, 141);
}

/* Section pour la barre de footer */
footer {
    width: 100%;
    background-color: #003366; /* Choisis une couleur qui te convient */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-bar {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-bar p {
    margin: 0;
    font-size: 1rem;
}
